{% extends 'index.html' %}
{% block content %}
    <h2>Merchants</h2>
    <ul>
        {% for merchant in merchants %}
            <li>
                <form style="margin: 0; padding: 0;" action="/merchants/{{merchant.id}}/edit">
                <p>{{merchant.name}} {% if merchant.deactivated %} <i style="color: grey;">deactivated</i>{% endif %} <input type="submit" value="Edit"></p></form>
            </li>
        {% endfor %}
    </ul>
    <form action="/merchants/new">
        <input type="submit" value="New Merchant">
    </form>
{% endblock %}