{% extends 'base.html' %}

{% block content %}
<h2>Add a Transaction</h2>

<form action="/transactions" method="post">
  <label for="merchant">Select a merchant:</label>
    <select name="merchant_id" id="merchant">
      {% for merchant in merchants %}
      <option value="{{ merchant.id }}">{{ merchant.name }}</option>
      {% endfor %}
    </select>
  
  <label for="tag">Select a tag:</label>
    <select name="tag_id" id="tag">
      {% for tag in tags %}
      <option value="{{ tag.id }}">{{ tag.name }}</option>
      {% endfor %}
    </select>
  

  <label for="amount">Enter amount: £</label>
  <input type="number" name="amount" id="amount" min="0" step="0.01" value="0.00">
  <input type='submit' value="Add">
</form>

{% endblock %}